.circular {
  width: 170px;
  border-radius: 150px;
  z-index: 1390813;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-top: -235px;
  position: inherit;
}
.pie-container {
  margin: auto;
  height: 210px;
  width: 210px;
}
.catpic {
  height: 100%;
  width: 100%;
}
.catthings {
  height: 25%;
  width: 25%;
  margin: 0 auto;
}
#buttons .approve {
  float: right;
  margin-right: 30px;
}
#buttons .disapprove {
  float: left;
  margin-left: 30px;
}

#buttons{
  margin-top:20px;
}

@keyframes slideRight {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  100% {
    background-color: yellow;
    left: 400px;
    top: 0px;
  }
}

/* The element to apply the animation to */

.animRight {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: slideRight;
  animation-duration: 2s;
}
@keyframes slideLeft {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  100% {
    background-color: yellow;
    right: 400px;
    top: 0px;
  }
}

/* The element to apply the animation to */

.animLeft {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: slideLeft;
  animation-duration: 2s;
}
